{% extends "layouts/default.html" %}

{% block body %}




    <div>
        <h1 class="title">Title</h1>
        <h2 class="subtitle">Subtitle</h2>
    </div>
    
    <div class="columns ">
        <div class="column is-offset-4">
            <p> integrate video </p>
            <figure class="image ">
                <iframe width="600" height="480" src="https://www.youtube.com/embed/goToXTC96Co" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </figure>
        </div>
         
    
    </div>

{% endblock %}

