{% extends 'layouts/default.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}


{% block body %}
    <!-- <section class="hero is-medium"> -->
      <figure class="image is-2by1">
        <img src="static/src/img/grad.jpg">
          <div class="container">
            <h1 class="title">
              Association des anciens eleves
            </h1>
            <h2 class="subtitle">
              Notre objectif rassemnble l'ensemble des anciens eleves
            </h2>
            <a href="{{ url_for('contact') }}"> <button class="button"> Contactez-nous </button>  </a> 
          </div>
      
        </figure> 
    <!-- </section> -->
    

    <div class="columns">
        <div class="column">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-8">
                  <div class="tile">
                    <div class="tile is-parent is-vertical">
                      <article class="tile is-child box"> 
                        <div>   <h1 class ="title"> <span class="icon"> <i class="fas fa-home"></i> </span> Nos Blogs</h1></div>
                            <div>
                              
                                <p> Amet veniam velit dolor minim minim magna magna minim.
                                Et occaecat sunt sunt culpa sit tempor sint occaecat deserunt veniam ex. 
                                Pariatur do duis do consectetur id. Ullamco laboris dolore adipisicing fugiat dolor.
                                Dolor consectetur occaecat irure ad id. <br>
                                Pour visiter nos blogs, <a href="{{ url_for('blog') }}">cliquez sur le lien</a> </p> 
                            </div>
                      </article>
                      <article class="tile is-child box">
                        <!-- Put any content you want -->
                      </article>
                    </div>
                    <div class="tile is-parent">
                      <article class="tile is-child box">
                        <!-- Put any content you want -->
                      </article>
                    </div>
                  </div>
                  <div class="tile is-parent">
                    <article class="tile is-child box">
                      <!-- Put any content you want -->
                                            
                    </article>
                  </div>
                </div>
                <div class="tile is-parent">
                  <article class="tile is-child box">
                    <!-- Put any content you want -->
 
                  </article>
                </div>
              </div>

        </div>       
    </div>




{% endblock %}





