{% extends 'layouts/default.html' %}


{% block body %}

<section class="section">
    <div class="container">
        <h1 class="title"> Reset Password page</h1>
        <h2 class="subtitle">
            <strong> Reinitalisation de votre mots de page </strong>
        </h2>
    </div>
</section>


<div class="columns">
    <div class="column is-offset-4 is-4">
        <form method="POST" action="#">
            {{ form.hidden_tag() }}
            <div class="field ">
                <div class="control">
                    {{ form.password.label(class="label") }}
                    {% if form.password.errors %}
                    {{ form.password(class="input is-danger") }}
                    <div class="help is-danger">
                        {% for error in form.password.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="input is-success ") }}
                    {% endif %}
                </div>
            </div>
            <div class="field ">
                <div class="control">
                    {{ form.confirm_password.label(class="label") }}
                    {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="input is-danger") }}
                    <div class="help is-danger">
                        {% for error in form.confirm_password.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.confirm_password(class="input is-success ") }}
                    {% endif %}
                </div>
            </div>

            <div class="field">
                <div class="control">
                    {{ form.submit(class='button  is-block is-info is-large is-fullwidth') }}
                </div>
            </div>
        </form>
    </div>

</div>

{% endblock %}