/* p{
   text-align: justify;
   background: #ffffff;
   padding: 10px 20px;
   border:1px solid #dddddd;
   border-radius: 3px ;
   margin-bottom:20px ;
} */

/* body{
    background: #fafafa; 

} */

.column{
    text-align: justify;
    padding: 10px 20px;
    border:1px solid #dddddd;
    border-radius: 3px ;
    margin-bottom:20px ;
 }
 
.column.col_center{
    background-color: #eeeeef;
    font-size: small;

}


.media{
    /* height: ; */
    background-color: #ffffff;
    padding: 10px 20px;
    border:1px solid #dddddd;
    border-radius: 3px ;
    margin-bottom:20px ;
}

.list{
    font-size: small;
}