<footer class="footer is-black">
    <div class="columns">
      <div class="column">

         <strong>Reseaux Sociaux</strong>
        <hr>
        <button class="button">  <span class="icon"> <i class="fab fa-github"></i></span>
            <span>GitHub</span>  </button>
        <button class="button is-link"> <span class="icon"> <i class="fab fa-facebook-square"></i> </span>
            <span>Facebook</span> </button> 
        <button class="button is-success"> <span class="icon"> <i class="fab fa-whatsapp"></i> </span>
            <span>Whatsapp</span> </button> <br>
        <button class="button is-link"> <span class="icon"> <i class="fab fa-twitter"></i></span>
            <span>Twitter</span> </button> 
        <button class="button"> <span class="icon"> <i class="fas fa-envelope"></i> </span>
            <span>Contact</span> </button>
        <!-- <button class="button"> <span class="icon"> <i class="fab fa-instagram-square"></i> </span>
            <span>Instagram</span> </button> -->
        <button class="button is-warning"> <span class="icon"><i class="fab fa-snapchat"></i></span>
            <span>Snapchat</span> </button>
            
    
      </div>
      <div class="column">
        <strong>Note</strong>
        <hr>
      </div>


      <div class="column">
        <strong>Credits</strong>
        <hr>
            <div class="content has-text-centered ">
                <p>
                    <strong>Website</strong> by <a href="https://www.linkedin.com/in/papa-mamadou-sene-778851147">Baba</a>. The
                    source code is avaible my
                    <a href="https://github.com/pmbasene/FlaskProject">GitHub</a>. Check my Wordpress website <a
                        href="http://pmbasene.byethost33.com/">pmbasene</a>.
                </p>
            </div>
      </div>
    </div>


</footer>